@import url("https://fonts.googleapis.com/css2?family=Allura&family=Caprasimo&family=Mukta&family=Permanent+Marker&display=swap");

.app {
  height: 80%;
  display: flex;
  justify-content: center;
  padding: 60px 0;

  font-family: "Caprasimo", serif;
  font-family: "Mukta", sans-serif;
}
